body{
	text-align: center;

}
header{
	text-align: left;
	color: white;
	padding:5px 4px 15px 4px;
	margin:-10px -9px 0px -8px;
	background-color: hsl(220, 90%, 10%);
	height: 60px;
	z-index: 5;
}
h1{
	font-family:cursive;
}
nav{
	background-color: teal;
	margin-left: -8px;
	/**float: left;**/
	height: 544px;
	width: 180px;
	text-align: left;
}
a.navbar{
	display: block;
	border-bottom: 2px solid lightblue;
	border-right:2px solid lightblue;
	margin:-18.5px 0px 3px 0px;
	padding: 30px 0px 30px 10px;
	text-decoration: none;
	color: white;
	z-index: 8;

}

li{
	list-style: red circle;
	/**display: inline-block;**/
}
section#uno{
	font-family: italic;
	color: white;
	width: 1100px;
	padding-left: 33px;
	margin-right: 10px;
	padding-right: 20px;
	font-weight: bold;
	/**overflow: auto;**/
	background-color: hsl(190, 100%, 08%);
	height: 544px;
	position: absolute;
	top:78px;
	left: 180px;
	display: inline-table;
	/**float: left;**/
}
div{
	display:table-cell;
	vertical-align: middle;
}
aside#dos{
	background-color: teal;
	height: 544px;
	width: 20px;
	display:inline-table;
	position: absolute;
	top: 78px;
	right: 0px;

}
a#slider{
	text-decoration: none;
	color: white;
	font-size: 30px;
}
a:hover{
	cursor: pointer;
	font-size: 20px;
	color: cyan;
}
p{
	border-left: lightblue;
	border-width: 0.5px;
	border-style: solid;
	border-top: none;
	border-bottom: none;
	font-weight: bolder;
	display:table-cell;
	vertical-align: middle;
}
footer{
	color: white;
	background-color:  hsl(220, 90%, 10%);
	margin-left:-8px ;
	margin-right: -8px;
	margin-bottom: -20px;
	padding: 10px 0px 20px 0px;

}
i{
	font-size: small;
	color: teal;
}
