body{
	text-align: center;
/*	background-color: red;
*/	position: static;
/*	display: flex;
*/	margin-bottom: 0px;
	margin-right: 0px;
	min-width: 520px;

}
header{
	text-align: left;
	color: white;
	width: auto;
	padding:5px 4px 15px 4px;
	margin:-10px -8px 0px -8px;
	background-color: hsl(220, 90%, 10%);
	height: 60px;
	z-index: 5;

}
h1{
	font-family:cursive;
}
i{
	font-size: small;
	color: teal;
}

nav{
	background-color: teal;
	margin-left: -8px;
	/**float: left;**/
	height: 544px;
	width: 180px;
	text-align: left;
	position: relative;
	z-index: 6;
}

a.navbar{
	display: block;
	border-bottom: 2px solid lightblue;
	border-right:2px solid lightblue;
	margin:-18.5px 0px 3px 0px;
	padding: 30px 0px 30px 10px;
	text-decoration: none;
	color: white;
	z-index: 8;

}
a:hover{
	cursor: pointer;
	font-size: 20px;
	color: cyan;
}

/*li{
	list-style: red circle;
	*display: inline-block;*
}*/
div{
	display:table-cell;
	vertical-align: middle;
	width: 1304px;
	min-width: 303px;
	margin: 0px;
}
section#uno{
	z-index: 2;
	font-family: italic;
	color: white;
	width: auto;
	padding-left: 213px;
	margin-right: -8px;
	padding-right: 20px;
	font-weight: bold;
	/**overflow: auto;**/
	background-color: hsl(190, 100%, 08%);
	height: 544px;
	position: absolute;
	top:78px;
	left: 0px;
	/**right: 20px;**/
	display: inline-table;
	/**float: left;**/

}
p{
	border-left: lightblue;
	border-width: 0.5px;
	border-style: solid;
	border-top: none;
	border-bottom: none;
	font-weight: bolder;
	display:table-cell;
	vertical-align: middle;
}

/*aside#dos{
	background-color: teal;
	height: 544px;
	width: 20px;
	display:inline-table;
	position: absolute;
	top: 78px;
	right: 0px;

}*/
/*a#slider{
	text-decoration: none;
	color: white;
	font-size: 30px;
}*/


footer{
	color: white;
	background-color:  hsl(220, 90%, 10%);
	margin-left:-8px ;
	margin-right: -8px;
	margin-bottom: -20px;
	padding: 10px 0px 20px 0px;

}
